#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

hr {
    clear:left;
}

.card {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 8px;
    margin-bottom: 20px;
    width: 300px;
    height: 350px;
    max-height: 350px;
    border-color: black;
    
}

.card2 {
    margin-bottom:25px;
    width: 500px;
    padding-left: 90px;
    padding-bottom:10px;
    padding-top: 20px;
    padding-right: 70px;
    border: 1px solid black;
    margin: auto;
    border-radius: 10px;
}

#Button{
    width: 120px;
    margin-left: 90px;
}

#ButtonUpSet{
    width: 120px;
    margin-left: 20px;
}

#SavePassButton{
    width: 150px;
    margin-left: 160px;
}

#deleteImg{
    max-width: 38px;
    position: absolute;
    top: 10px;
    right: 4px;
}

.card-body{
    overflow: auto;
}

.card-text {
    padding: 3px;
}

#noteHeader {
    color: black;
}

#editImg {
    width:45px;
    cursor: pointer;
    float: right;
}

#dateText {
    padding-left: 50px;
}

.form-style {
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 20px;
}

.createNoteLink {
    float: left;
    color:black;
}

.navbar{
    font-size: 20px;
}

#companyname{
   font-size: x-large;
}

.wrapper{
    display: flex;
    position: relative;
}
  
.wrapper .sidebar{
    width: 200px;
    height: 100%;
    background: #49465c;
    padding: 20px 0px;
    position: fixed;
}

.wrapper .sidebar ul h3{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .wrapper .sidebar ul li{
    padding: 5px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
  }    
  
  .wrapper .sidebar ul li a{
    color: #bdb8d7;
    display: block;
    width: 180px;
  }
  
  .wrapper .sidebar ul li a .fas{
    width: 10px;
  }
  
  .wrapper .sidebar ul li:hover{
    background-color: #7e7a93;
  }
      
  .wrapper .sidebar ul li:hover a{
    color: #fff;
  }

.main-content {
    margin-left: 220px;
}

#alert_div {
    margin-right: 20px;
}