{% load static %}


<div class="wrapper">
  <div class="sidebar">
    <ul class="nav flex-column">
      <h3>Thoughtful</h3>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'calendar' %}">Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">E-mail</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'notes' %}">Notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'projects' %}">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
  </div>
</div>



